* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-parallax1,
.container-parallax2,
.container-parallax3,
.container-parallax4,
.container-parallax5 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Topo da página */
.topo {
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: #604829;
    z-index: 1;
}

.topo img {
    width: 100px;
    position: relative;
    top: 5px;
    left: 15%;
}

.topo div {
    position: absolute;
    top: 35%;
    right: 15%;
}

.topo div a {
    margin-right: 20px;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 3px 5px 2px #000000;
    letter-spacing: 2px;
    color: #c4a47c;
}

/* Container Parallax 1 */
.container-parallax1 {
    background-image: url("./img/parallax-imagem1.png");
    height: 100vh;
}

.container-parallax1 h1 {
    top: 45%;
    right: 0;
    left: 0;
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-family: "Fraunces", serif;
    font-size: 100px;
}

/* Container Parallax 2 */
.container-parallax2 {
    background-image: url("./img/parallax-imagem2.jpg");
    height: 50vh;
}

.container-parallax2 h3,
.container-parallax3 h3 {
    width: 500px;
    padding: 10px;

    position: relative;
    top: 45%;
    right: 0;
    left: 0;
    margin: auto;

    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    font-family: "Fraunces", sans-serif;
    text-align: center;

    letter-spacing: 2px;
    background-color: #604829;
    color: #fff;
}


/* Container Parallax 3*/
.container-parallax3 {
    background-image: url("./img/parallax-imagem3.jpg");
    height: 50vh;
}


/* Container Parallax 4 */
.container-parallax4 {
    background-image: url("./img/parallax-imagem4.png");
    height: 100vh;
}

.container-parallax4 h2 {
    width: 500px;
    padding: 10px;
    position: relative;
    top: 10%;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-size: 24px;
    font-family: "Oswald", serif;
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
    background-color: #604829;
}

.container-parallax4 iframe {
    position: absolute;
    max-width: 1024px;
    height: 450px;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.container-contatos {
    width: 500px;
    padding: 10px;
    position: absolute;
    bottom: 8%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #604829;
}

.container-contatos p {
    color: #fff;
    font-family: "Oswald", sans-serif;
    line-height: 36px;
    text-shadow: 0px 6px 8px #000000;
    text-align: center;
}

/* Efeitos aplicados a classe container-texto */

.container-texto {
    padding: 80px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1px;
    text-align: center;
    color: #666;
}

.container-texto h2 {
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: "Oswald", sans-serif;
    color: #c4a47c;
}

.container-texto p {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
    font-family: "Lato", "sans-serif";
    line-height: 34px;
    letter-spacing: 1px;
    color: #666;
}

/* Container Parallax 5 */
.container-parallax5 {
    height: 80vh;
    background-image: url("./img/cafeteria.jpg");
}

.container-parallax5 h2 {
    position: absolute;
    margin: 0 auto;
    top: 20%;
    right: 0;
    left: 0;
    font-family: "Oswald", sans-serif;
    text-align: center;
    letter-spacing: 8px;
    color: white;
}

.lista-horarios { /* tag <ul> */
    max-width: 768px;
    position: absolute;
    margin: 0 auto;
    bottom: 20%;
    right: 0;
    left: 0;
    font-family: "Oswald", sans-serif;
    list-style: none;
}

.lista-horarios li { /* tag <li> */
    position: relative;
}

.lista-horarios li h3 { /* subtitulo = <h3> */
    margin-bottom: 20px;
    color: #fff;
}

.lista-horarios li div { /* tarja = <div> */
    width: 70%;
    height: 1px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    right: 0;
    left: 0;
    background-color: #ACACAC
}

.lista-horarios li p,
.texto-marrom { /* paragrafo + span*/
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
}

.texto-marrom {
    color: #c4a47c;
}

.lista-horarios li p {
    color: #ACACAC;
}

/* Rodapé */
.container-rodape {
    position: relative;
    padding: 20px 0;
    line-height: 34px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: #000000;
    color: #fff;
}

.container-rodape span {
    color: #c4a47c;
}

.container-rodape a {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 80px;
    right: 50px;

    background-image: url("./img/seta-para-cima.png");
    background-position: center;
    background-size: cover;
    background-color: #c4a47c;
    border-radius: 4px;
}

/* Ajustes para telas com zoom aplicado*/

/* Tablets (768px a 1024px) */
@media (max-width: 1024px) {
    .container-parallax1 h1 {
        font-size: 70px;
        padding: 0 20px;
    }
    
    .container-parallax4 iframe {
        max-width: 90%;
        height: 400px;
    }
    
    .container-contatos {
        width: 90%;
        max-width: 500px;
    }
    
    .lista-horarios {
        max-width: 90%;
    }
}

/* Tablets Pequenos (601px a 767px) */
@media (max-width: 767px) {
    .topo {
        height: 80px;
        padding: 0 20px;
    }
    
    .topo img {
        left: 5%;
        width: 80px;
    }
    
    .topo div {
        right: 5%;
        top: 30%;
    }
    
    .topo div a {
        font-size: 16px;
        margin-right: 15px;
        letter-spacing: 1px;
    }
    
    .container-parallax1 h1 {
        font-size: 50px;
        top: 50%;
    }
    
    .container-parallax2 h3,
    .container-parallax3 h3 {
        width: 90%;
        font-size: 20px;
    }
    
    .container-parallax4 h2 {
        width: 90%;
        font-size: 20px;
    }
    
    .container-parallax4 iframe {
        height: 300px;
        top: 20%;
    }
    
    .container-contatos {
        width: 90%;
        padding: 15px;
    }
    
    .container-texto {
        padding: 60px 0;
    }
    
    .container-texto h2 {
        font-size: 22px;
        padding: 0 20px;
    }
    
    .container-texto p {
        font-size: 15px;
        line-height: 28px;
    }
}

/* Mobile (480px a 600px) */
@media (max-width: 600px) {
    .topo {
        height: 70px;
    }
    
    .topo img {
        width: 60px;
        left: 20px;
    }
    
    .topo div {
        right: 20px;
        top: 25%;
    }
    
    .topo div a {
        font-size: 14px;
        margin-right: 10px;
        letter-spacing: 0.5px;
    }
    
    .container-parallax1 h1 {
        font-size: 40px;
        padding: 0 15px;
    }
    
    .container-parallax2,
    .container-parallax3 {
        height: 40vh;
    }
    
    .container-parallax2 h3,
    .container-parallax3 h3 {
        font-size: 18px;
        padding: 15px;
    }
    
    .container-parallax4 {
        height: 80vh;
    }
    
    .container-parallax4 iframe {
        height: 250px;
        top: 15%;
    }
    
    .container-contatos {
        bottom: 5%;
        padding: 12px;
    }
    
    .container-contatos p {
        font-size: 14px;
        line-height: 24px;
    }
    
    .container-texto {
        padding: 40px 0;
    }
    
    .container-texto h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .container-texto p {
        font-size: 14px;
        line-height: 24px;
    }
    
    .lista-horarios {
        max-width: 95%;
    }
    
    .lista-horarios li h3 {
        font-size: 16px;
        margin-bottom: 15px;
    }
    
    .container-rodape a {
        width: 50px;
        height: 50px;
        right: 20px;
        bottom: 60px;
    }
}

/* Mobile Pequeno (até 479px) */
@media (max-width: 479px) {
    .topo {
        height: 60px;
        padding: 0 15px;
    }
    
    .topo img {
        width: 50px;
        left: 15px;
    }
    
    .topo div {
        right: 15px;
        top: 20%;
    }
    
    .topo div a {
        font-size: 12px;
        margin-right: 8px;
    }
    
    .container-parallax1 h1 {
        font-size: 32px;
        padding: 0 10px;
    }
    
    .container-parallax1,
    .container-parallax4,
    .container-parallax5 {
        height: 70vh;
    }
    
    .container-parallax2,
    .container-parallax3 {
        height: 35vh;
    }
    
    .container-parallax2 h3,
    .container-parallax3 h3 {
        font-size: 16px;
        padding: 12px;
    }
    
    .container-parallax4 h2 {
        font-size: 18px;
        padding: 12px;
    }
    
    .container-parallax4 iframe {
        height: 200px;
        top: 12%;
    }
    
    .container-contatos {
        padding: 10px;
    }
    
    .container-contatos p {
        font-size: 12px;
        line-height: 20px;
    }
    
    .container-texto {
        padding: 30px 0;
    }
    
    .container-texto h2 {
        font-size: 18px;
    }
    
    .container-texto p {
        font-size: 13px;
        line-height: 22px;
    }
    
    .container-parallax5 h2 {
        font-size: 18px;
        padding: 0 15px;
    }
    
    .lista-horarios li {
        margin-bottom: 15px;
    }
    
    .lista-horarios li h3 {
        font-size: 14px;
    }
    
    .lista-horarios li p,
    .texto-marrom {
        font-size: 14px;
    }
    
    .container-rodape {
        padding: 15px 0;
        font-size: 14px;
    }
    
    .container-rodape a {
        width: 40px;
        height: 40px;
        right: 15px;
        bottom: 50px;
    }
}

/* Ajustes para landscape em mobile */
@media (max-height: 500px) and (orientation: landscape) {
    .container-parallax1,
    .container-parallax4,
    .container-parallax5 {
        height: 120vh;
    }
    
    .container-parallax2,
    .container-parallax3 {
        height: 60vh;
    }
    
    .container-parallax1 h1 {
        top: 40%;
    }
    
    .topo {
        height: 50px;
    }
    
    .topo img {
        width: 40px;
    }
    
    .topo div a {
        font-size: 12px;
    }
}

/* Melhorias de acessibilidade para touch */
@media (max-width: 767px) {
    .topo div a {
        padding: 8px 5px;
        display: inline-block;
    }
    
    .container-rodape a {
        min-width: 44px;
        min-height: 44px;
    }
}